@using BlazorMonaco

@namespace esolang_webrunner.Components.ConsoleWindow

<div>
    <h3>Console Component Header</h3>
    <MonacoEditor Id="console-window" ConstructionOptions="getEditorConstructionOptions" CssClass="monaco-editor-console" />
</div>