@using BlazorMonaco

@namespace esolang_webrunner.Components.EditorWindow

<div>
    <h3>Editor Component Header</h3>
    <MonacoEditor Id="editor-window" ConstructionOptions="getEditorConstructionOptions" />
</div>

