@using esolang_webrunner.Components.EditorWindow;
@using esolang_webrunner.Components.ConsoleWindow;
@using esolang_webrunner.Components.Toolbar;

@page "/"
<div>
    <ToolbarWidget isRunButtonEnabled=true/>

    <EditorComponent />

    <ConsoleComponent />
</div>
